# Carpeta proyecto Trainer, vinvulado a su git
practicas/practica01_Trainer/ 
practicas/practica01_Trainer/tiendacampus2023
practicas/practica02_Trainer/ 
practicas/practica02_Trainer/animals-app
ejercicios/NotiApp
ejercicios/NotiApp-Diego
